.searchBar {

    padding-top: 1em;
    margin-left: 0em;
}

.searchBar input[type="text"] {
  border: 1px solid #f1f1f1;
  background-color: #f3f3f3;
  width: 30em;
  padding: 10px 11px;
  height: 38px;
  border-radius: 4px;
  /*box-shadow: none;*/
  box-sizing: border-box;

  box-shadow: 0 4px 4px rgba(0,0,0,.04);
  border: 1px solid #f3f3f3;
  background-color: #ffffff;
}

.searchBar input:focus, textarea:focus, select:focus {
    border: 1px solid #ececec;
    outline: none;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.searchBar:hover input {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.2s ease-in-out;
}
