.salam {
    /* margin-left: 10%; */

}



img.Logo {
    width: 100px

}
.searchBar input[type="text"] {
  width: 100%;
}
.logo {
    position: absolute;
    margin-top: 20px;
    margin-left: 7em;
}
