.SignInForm__input {
  width: 100%;
}
button.SignUpForm__button {
    padding: 0 75px;
    background-color: #6669b4;
    border: none;
    color: white;
}

button.SignUpForm__button:hover {
  color: white;
  background-color: #535592;

}
.SignInForm__button,
.SignInForm__button:hover {
  display: block;
  width: 100%;
  background-color: #3897f0;
  border-color: #3897f0;
  color: white;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.SignInForm__button:disabled {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
  cursor: not-allowed;
  color: #fafafa;
}

.SignInForm__error-text {
  color: #ed4956;
  font-size: 14px;
}

.SignInForm__spinner {
  font-size: 18px !important;
}
