.root-surfBar {
  margin-top: 17em;
  /* margin-left: 25em; */
}
input.woah:focus {
  border: none;
}
.searchBar {
    /*margin-top: 1em;*/
    margin-left: 0em;
}
a.Header__logo-link {
  margin-left: 33%;
}
.root-surfBar input[type="text"] {
  border: 1px solid #f1f1f1;
  background-color: #fff;
  /* width: 522px; */
  widows: 100%;
  padding: 1px 11px;
  height: 38px;
  border-radius: 4px;
  box-shadow: 0 10px 41px -2px #e2e2e2;
  height: 44px;
  /*box-shadow: 0 4px 4px rgba(0,0,0,.04);*/
  box-sizing: border-box;
  font-size: 17px;
}

.root-surfBar input:focus, textarea:focus, select:focus {
    border: 1px solid #ececec;
    outline: none;
}
.root-surfBar {
    position: absolute;
    /* margin-left: 25em; */
    display: block;

}
.root-surfBar form {
  margin-bottom: 0;
}

.root-surfBar button {
    border: none;
    margin-left: 0px;
    position: absolute;
}
.root-surfBar input[type="text"] {
  border: 1px solid #f1f1f1;
  background-color: #fdfdfd;
  width: 100%;
  /*width: 177px;
  padding: 10px 60px;*/
  /*width: 15em;*/
  /*padding: 10px 81px;*/
  padding: 10px 20px;
}
.search-logo {
    position: absolute;
}
i.fa.fa-search {
    margin-top: 11px;
    margin-left: 3em;
}


/**/
/* Mobile First Search - Icon */
  .root-surfBar form {
    padding: 0;
    margin-top: 5px;
    /* margin-right: 10px; */
    border: none;
    @include border-radius($button);

    button[type="submit"] {
      border: 1px solid rgba(0, 0, 0, 0.1);;
      @include border-radius($round);
      width:40px;
      height: 40px;
      outline: none;
      background: transparent;
      .fa-search {
        color: $light-font-color;
      }
    }
    button[type="submit"]:hover {
      border: 1px solid $border-hover-color;
    }
    input[type="search"] {
      padding: 0.6em 0.8em 0.7em 2.5em;
      @include border-radius($button);
      border: 1px solid $border-color;
      outline: none;
      background-color: transparent;
      display: none;
      width: 150px;
    }
  }

/* Small devices (tablets, 768px and up) */
/* Search - full width input */
@media (min-width: $screen-sm-min) {

  .root-surfBar form {
    button[type="submit"] {
      border: none;
      position: absolute;
      top: 5px;
    }
    button[type="submit"]:hover {
      border: none;
    }
    input[type="search"] {
      display: block;
    }
    input[type="search"]:focus {
      border: 1px solid $border-hover-color;
    }
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .root-surfBar form {
    input[type="search"] {
      width: 200px;
    }
  }
}



.root-surfBar {
  .dropdown-menu {
    margin-top: 14px;
    .dropdown-arrow-top {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      z-index: 20;
      border-bottom: 10px solid #fff;
      position: absolute;
      right: 96px;
      top: -10px;
    }
    .dropdown-arrow-bottom {
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      z-index: 10;
      border-bottom: 11px solid rgba(0, 0, 0, 0.11);
      position: absolute;
      right: 94px;
      top: -11px;
    }
  }
}

.large-searchbar {
  form {
    margin: 1em 0 2em;
  }
  input[type="search"] {
    width: 100%;
    font-size: 50px;
    font-weight: 100;
    border: none;
    outline: none;
    background-color: #fff;
    border-bottom: 1px solid $light-border-color;
  }
}

// search dropdown list items
.search-tag-list-item {
  .fa-tag {
    margin-right: 11px;
    font-size: 18px;
    padding-left: 10px;
    color: $light-font-color;
  }
}



//Autosuggest
body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: absolute;
  margin-top: 17em;
  margin-left: 33%;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 3em;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__suggestion-match {
  color: black;
  font-weight: bold;
}
