.root-surfBar {
  margin-top: 20em;
  margin-left: 25em;
}

.searchBar {
    /*margin-top: 1em;*/
    margin-left: 0em;
}

.root-surfBar input[type="text"] {
  border: 1px solid #f1f1f1;
  background-color: #f3f3f3;
  width: 40em;
  padding: 1px 11px;
  height: 38px;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.root-surfBar input:focus, textarea:focus, select:focus {
    border: 1px solid #ececec;
    outline: none;
}
