a.track-card__title-link {
  text-decoration: none;
}
.track-block {
  margin-top: 1em;
  /* width: 20em; */
  width: 100%;
  padding: 1px 11px;
  height: 38px;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0,0,0,.04);
  /* box-shadow: 0px 0px 0 1px rgba(153,170,181,.3); */
  padding-bottom: 6em;
  padding-top: 10px;
  background-color: #ffffff;
  transition: box-shadow .3s ease-out;

}
div#root {
  background: #fafafa;
}

.track-block:hover{
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.15); */
  box-shadow: 0 9px 30px 1px rgba(153,170,181,.2);
  /* transition: box-shadow 0.3s ease-in-out; */
}

span.bra {
  font-weight: bold;
  color: blue;
  cursor: pointer;
}

button.track-card__btn {
  outline: none;
  margin-top: -1em;
  /* margin-left: 26em;
  margin-right: 3em; */

  margin-left: 90%;
  margin-right: 0;
  border-radius: 50%;
  position: absolute;
  border: none;
  height: 40px;
  width: 40px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  cursor: pointer;
}

button.track-card__btn:hover {
  box-shadow: 0 10px 41px -2px #e2e2e2;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;

}

i.fa {
  font-size: 20px;
  font-weight: bold;
  /*color: #6266ad;*/
  margin-left: -6px;
  padding: 10px;
  color: #a3a4bd;

}
i.fa.fa-heart-o:hover {
    color: #676abb;
}

span.track-card__views {
  color: #a3a4bd;

  cursor: pointer;
  margin-left: 50%;
}

span.track-card__views:hover {
  text-decoration: underline;
  color: #676abb;
}
.track-card__url {
  color: green;
}
