a.track-card__title-link {
  text-decoration: none;
}
.track-card__body em {
    font-weight: bold;
}
.track-previews {
    padding-top: 10px;
    padding-bottom: 10px;
}
.track-previews .tooltiptext {
  visibility: hidden;
  /* margin-left: -6em; */
  position: absolute;
  margin-top: -1em;
  margin-left: -9em;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
}
.track-previews:hover .tooltiptext {
  visibility: visible;
  margin-left: -9em;
  border-radius: 5px;
  margin-top: -1em;
  /* width: 500px; */
}
i.flash.fa:hover, .view-more:hover  {
  background-color: #6266ad;
  color: white;
}
/* i.flash.fa:hover {
  color: #676abb;
} */
.view-more {
  color: #6266ad;
  margin-top: 1em;
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
  /* width: 20%; */
  padding: 3px;
  width: auto;
  /* position: relative; */
  /* position: absolute; */
  text-align: center;
}
/*
.pre-Views .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
}
.pre-Views:hover .tooltiptext {
  visibility: visible;
} */
.track-block {
  /* margin-top: 1em; */
  margin-bottom: 3em;
  /* width: 20em; */
  width: 100%;

  padding: 1px 11px;
  padding-right: 20px;
  height: 38px;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0,0,0,.04);
  /* box-shadow: 0px 0px 0 1px rgba(153,170,181,.3); */
  padding-bottom: 2em;
  padding-top: 10px;
  background-color: #ffffff;
  transition: box-shadow .15s ease-out;

}
div#root {
  background: #fafafa;
}
.pre-Views {
  width: 100%;
  background-color: #ddd;
  height: 2px;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
}

.positive-Views {
  width: 80%;
  background-color: #d9317a;
  height: 2px;
}
.track-block:hover{
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.15); */
  box-shadow: 0 9px 30px 1px rgba(153,170,181,.2);
  /* transition: box-shadow 0.3s ease-in-out; */
}

span.bra {
  font-weight: bold;
  color: #676abb;
  cursor: pointer;
}

button.track-card__btn {
  outline: none;
  margin-top: -1em;
  /* margin-left: 26em;
  margin-right: 3em; */

  margin-left: 90%;
  margin-right: 0;
  border-radius: 50%;
  position: absolute;
  border: none;
  height: 40px;
  width: 40px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  cursor: pointer;
}

button.track-card__btn:hover {
  box-shadow: 0 10px 41px -2px #e2e2e2;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;

}

i.fa {
  font-size: 20px;
  font-weight: bold;
  /*color: #6266ad;*/
  /* margin-left: -6px; */
  padding: 10px;
  color: #a3a4bd;

}
i.fa.fa-heart-o:hover {
    color: #676abb;
}

span.track-card__views {
  /* color: #a3a4bd; */
  color: #262626;
  font-size: 13px;
  cursor: pointer;
  margin-left: 50%;
}

span.track-card__views:hover {
  text-decoration: underline;
  color: #676abb;
}
.track-card__url {
  color: green;
}
